.link{

color:white;
background-color: rgb(180, 101, 253);

border:rgb(180, 101, 253) thin;


}

.nav{
background-color: rgb(180, 101, 253);
padding:8px;
box-shadow: 1px 1px 1px 1px black;
font-weight: bold  30%;

}

.boom{
  background-color: rgb(209, 162, 253);
  box-shadow: 2px 2px 2px 2px black;


}

header{
    background-color: blueviolet;
   
    color:cornsilk;

}

footer{

    background-color: rgb(68, 68, 68);
    padding:8px;
}
.logo{

width:30px;
height:25px;
border-radius: 100px;

}

.read{
    background-color: rgb(159, 65, 247);
    color:white;
    border-radius: 20px;
    border:thin black;
    padding-left:20px;
    padding-right:20px;
    padding-top:8px;
    padding-bottom:8px;
}




.name{
    
    text-align: center;
    animation-name:slideDown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes slideDown{
   
    
        0%{
            transform:translateY(-100%);
            visibility:visible;
        }
        100%{
            transform:translateY(0);

        }
    



   }
.contact{

    height:40px;
    width:40px;
    border-radius:100px;
}